body{
	margin:0;
	font-family: 'Josefin Sans', sans-serif;
	font-size:16px;
	line-height:1.6;
	color:rgb(255,255,255);
	background-color: black;
}
*,
*:after,
*:before{
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
.container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
}
.logo{
	font: 700 50px 'Rajdhani', sans-serif;
    color: white;
}
.logo > span{
	color:rgb(255,0,0);
}
.title{
	font-size: 3.5em;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 30px;
}
.title > span{
	color: rgb(255,0,0);
}
.subtitle{
	width:70%;
	margin: 0 auto;
	font-size: 1em;
	text-align: center;
}
/*HEADER*/
.header__inner{
	position: fixed;
	z-index:99999;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width:100%;
	padding: 15px;
	background-color: rgba(0,0,0,0.6);
}
.header__logo{
	margin-left: 30px;
	cursor: pointer;
}
/*nav*/
.nav{
	font-size: 1.05em;
}
.nav__link{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin:5px 15px;
	text-decoration: none;
	color:rgb(255,255,255);
	transition: .2s linear;
}
.nav__link:hover{
	color:rgb(255,0,0);
}
.nav__link:after{
	position: absolute;
	top:100%;
	left:0;
	z-index: 1;
	display: block;
	content:'';
	width:100%;
	height:3px;
	margin:0 auto;
	background-color: rgb(255,0,0);
	opacity:0;
}
.nav__link:hover:after,
.nav__link_active:after{
	opacity: 1;
}
.nav__link_active{
	color:red;
}
/*intro*/
.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	width:100%;
	height:100vh;
	min-height:600px;
	text-align: center;
	background: url(../img/intro2.jpg) center no-repeat;
	background-size: cover;
}
.intro__inner{
	padding: 0 20px;
}
.intro__title{
	font-size: 8.5em;
}
.intro__subtitle{
	font-size: 3em;
}
/*section*/
.section{
	padding:70px 0;
	background-color: rgb(0,0,0);
}
.section_small_padding{
	padding: 60px 0;
}
.section_background{
	width: 100%;
	background: url(../img/team_background.jpg) center no-repeat;
	background-size:cover;
}
.section_bg_padding{
	padding-top: 50px;
	background: url(../img/intro3.jpg) center no-repeat;
	background-size:cover;
}
/*service*/
.services{
	display: flex;
	justify-content: space-around;
	flex:1 1 0;
	flex-wrap: wrap;
	width:100%;
	text-align: center;
}
.services__item{
	width:24%;
	padding:30px 20px;
	border: 2px solid red;
	transition: .2s linear;
}
.services__item:hover{
	border: 2px solid white;
}
.services__icon{
	font-size: 500%;
	color:red;
}
.services__title{
	font-size: 1.4em;
	font-weight: bold;
	display: inline-block;
	margin-bottom:5px;
}
/*button*/
.button{
	padding:7px 13px;
	color:white;
	background-color: red;
	text-decoration: none;
	display: inline-block;
	margin:15px auto 0;
	font-weight: bold;
	transition: .2s linear;
	cursor: pointer;
}
.button:hover{
	background-color: white;
	color:black
}
.button_subscribed{
	padding:15px 25px;
	background-color:black;
	transition: .2s  linear;
}
.button_display_none{
	display: none;
}
.button_small_size{
	margin: 0 auto;
	background-color: white;
	color:red;
}
.button_big_size{
	padding:15px 40px;
	font-size: 1em;
	margin: 18px auto 50px;
}
/*team*/
.team{
	display: flex;
	flex:1 1 0;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	text-align: center;
}
.team__item{
	display: flex;
	flex-direction: column;
	width:22%;
	transition: 2s linear;
}
.team__info{
	margin-top: 15px;
	text-align: left;
}
.team__prof{
	font-size:1.6em;
	font-weight: bold;
}
.team__text{
	font-size: 1.05em;
}
.team__img{
	width:100%;
	max-width:400px;
}
.team__icon{
	margin:10px 0;
	opacity:0;
	transition: opacity .2s linear;
}
.team__links:after{
	display: block;
	content:'';
	width:100%;
	height:5px;
	background-color: white;
	opacity:0;
	transition: opacity .2s linear;
}
.team__icon{
	display: inline-block;
	padding:10px;
	color:red;
	font-size: 1.3em;
}
/*line*/
.line{
	width:100%;
	background: red;
    color: #fff;
    padding: 5px;
    position: relative;
    z-index: 10;
    margin:5px 0;
    transition: .5s linear;
}
.line:after{
	content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    border-top: 10px solid red;
	bottom: -10px;
    margin-left: -10px;
    transition: .5s linear;
}
.team__item:hover
.team__icon,
.team__item:hover
.team__links:after{
	opacity:1;
}
.team__item:hover
.line{
	opacity:0;
}

/*skills*/
.skills{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width:100%;
	max-width:1100px;
	margin:30px auto 0;
	padding:0 40px;
	line-height:1.3;
	text-align: center;
}
.skills__title{
	display: inline-block;
	font-size: 2.5em;
	margin-bottom:50px;
}
.skills__item{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width:100%;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
}
.skills__info{
	width:25%;
	text-align: left;
	font-size: 1em;
}
.skills__scale{
	width:65%;
	background-color: white;
	width:70%;
	height:12px;
	position: relative;
	border-radius:20px;
}
.skills__scale:after{
	display: block;
	content: '';
	background-color: red;
	width:20%;
	height:100%;
	position: absolute;
	right:0;
	border-radius:0 20px 20px 0;
}
.skills__scale_five:after{
	width:5%;
}
.skills__scale_two:after{
	width:2%;
}
.skills__scale_fifteen:after{
	width:15%;
}
.skills__percent{
	width:10%;
}

/*gallery*/
.gallery{
	width:100%;
	text-align: center;
}
.gallery__text{
	width:70%;
	margin: 0 auto;
	font-size: 1em;
}
.gallery__link{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 15px auto;
	padding: 0 20px;
	text-align: center;
}
.gallery__item{	
	width:13%;
	padding:5px 12px;
	margin:10px;
	text-decoration: none;
	color:rgb(255,255,255);
	border: 1px solid red;
	transition: .2s linear;
}
.gallery__item:hover{
	background-color: red;
}

/*gallery item*/
.gallery__photography{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:0 auto;
}
.gallery__red{
	width:20%;
	max-width:269.5px;
	transition: .3s linear;
	position: relative;
	cursor:pointer;
	text-align: center;
}
.gallery__red:hover img{
	opacity:.3;	
}
.gallery__red:hover{
	background-color: rgba(250,0,0,0.7);
}
img.gallery__photo {
	display: block;
	width:100%;
	max-width:400px;
	height:auto;
	transition: .3s linear;
}
.gallery__red:hover .gallery__info{
	opacity:1;
}
.gallery__info{
	position: absolute;
	top:50%;
	left:0;
	z-index:2;
	width:100%;
	padding:0 5px;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	opacity:0;
	transform:translate3d(0,-50%,0);
	transition: opacity .2s linear;
}
.gallery__icon{
	font-size: 2em;
}

/*price*/
.price{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:0 20px;
}
.price__item{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width:30%;
	padding-bottom:30px;
	text-align: center;
	background-color: #D3C9C9;
}
.price__header{
	width:100%;
	background-color: red;
	padding:20px 0;
	font-weight: bold;
	font-size: 1.7em;
	transition:.3s linear;
}
.price__item:hover
.price__header{
	background-color: #505050;
}
.price__item:hover
.button_subscribed{
	background-color: red;
}
.price__icon{
	font-size: 2em;
}
.price__info span{
	font-size: 250%;
}
.price__info span sup{
	font-size:40%;
}
.price__text{
	color:black;
	font-size: 1em;
	padding-top:10px;
	line-height: 1;
}
/*news*/
.news{
	width:100%;
	display: flex;
	justify-content: center;
	background: rgba(0,0,0,0.6);
	margin:0 auto;
}
.news__item_latest{
	width:55%;
}
.news__item_last{
	width:45%;
	background-color: rgba(255,0,0,0.8);
	padding:30px 40px;
	text-align: center;
}
.news__title{
	font-size: 2em;
	margin:30px 0 0 80px; 
}
/*latest*/
.news__latest{
	display: flex;
	flex-direction: column;
	margin-top:20px;
	padding: 10px 0 40px 80px;
}
.news-item{
	display: flex;
	justify-content: center;
	align-items: center;
	width:80%;
	cursor:pointer;
}
.news-item__title{
	color:red;
}
.news-item:hover 
.news-item__title,
.news-item:hover
.news-item__text{
	text-decoration: underline;
}
.news-item__date{
	width:30%;
	padding:5px 15px;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.3;
	background-color: red;
}
.news-item__info{
	padding:0 15px;
}
.news-item__footer{
	margin-top:10px;
}
.news-item__icon{
	display: inline;
	color:red;
}
/*blog*/
.blog{
	display: flex;
	flex-direction: column;
	margin-top:50px;
	text-align: left;
}
.blog__item{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom:20px;
	width:100%;
	line-height:1.1;
	cursor:pointer;
}
.blog__date{
	font-size: 1.3em;
	font-weight: bold;
	width:20%;
	line-height: 1.3;
	background-color: black;
	padding:10px 15px;
}
.blog__info{
	width:80%;
	padding:0 10px;
}
.blog__text{
	font-size: 0.8em;
}
.blog__icon{
	display: inline;
	color:black;
}
.blog__footer{
	font-size: 0.9em;
}
.blog__item:hover .blog__title{
	color:black;
}
.blog__item:hover .blog__text{
	text-decoration: underline;
}
/*map*/
.map{
	width:100%;
	height:300px;
	background-color: red;
	position: relative;
}
.map iframe{
	opacity:0.5;
	transition: .3s linear;
	height:300px;
}
.map__text{
	content:'';
	display: block;
	position: absolute;
	top:50%;
	left:10%;
	transform: translateY(-50%);
	z-index: 2;
	font-size: 200%;
	line-height: 1.3;
	font-weight: bold;
}

/*form*/
.form{
	width:100%;
	padding: 0 20px;
	background-color: black;
}
.form-group{
	padding:0 40px;
}
.form-group__info{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width:100%;
	margin:0 auto;
}
.form-group__item{
	width:32%;
}
.form__text{
	display: inline-block;
	margin: 0;
	font-size: 1.3em;
}
input.form__item{
	margin:10px auto;
	width:100%;
	padding:5px 10px;
	height:40px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.3em;
	color:black;
}

textarea{
	width:100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.3em;
	margin-top: 10px;
	color:black;
}
/*footer*/
.footer{
	width:100%;
	background-color: red;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	padding:25px 15px;
	text-align: center;
}
.footer__logo{
	width:25%;
	font:700 3em 'Rajdhani', sans-serif;;
	color:white;
}
.footer__logo span{
	color: black;
}
.footer__rights{
	font-size: 1em;
	width:60%;
}
.footer__icon{
	width:15%;
	color:white;
	font-size: 1.2em;
	margin:0 5px;
}
/*media*/
@media screen and (max-width: 1300px){
	.services__item{
		width:40%;
		margin-bottom: 30px;
	}
	.team__item{
		width:40%;
		margin-bottom: 20px;
	}
	.news-item{
		line-height: 1.2;
	}
 }
@media screen and (max-width: 990px){
	body{
		font-size: 14px;
	}
	.section{
		padding:40px 0;
	}
	.news__latest{
		padding-left: 50px;
	}
	.news-item__date{
		padding: 5px;
	}
	.news__item_last{
		padding: 30px 20px;
	}
	.blog__date{
		padding: 5px;
	}
	.nav__link{
		margin:8px;
	}
 }
@media screen and (max-width: 768px){
	body{
		font-size:15px;	
	}
	.button_big_size{
		padding:20px 50px;
		font-size: 1.5em;
		margin: 18px auto 50px;
	}
	.button{
		font-size: 1.3em;
	}
	.subtitle{
		font-size: 1.4em;
	}
	.section{
		padding:40px 0;
	}
	.skills{
		padding: 0 25px;
		margin-top:8px;	
	}
	.skills__title{
		font-size:3em;
	}
	.skills__scale{
		width:60%;
	}
	.skills__percent{
		width:20%;
	}
	.services__item{
		width:80%;
	}
	.services__title{
		font-size:2em;
	}
	.services__text{
		font-size:1.4em;
	}
	.team__text{
		font-size: 1.3em;
	}
	.nav{
		display: none;
		position: absolute;
		top:100%;
		left:0;
		width:100%;
		background-color: rgba(0, 0, 0, 0.8);
		font-size: 100%;
		text-align: center;
	}
	.nav.active{
		display: block;
	}
	.nav__link{
		display: block;
		padding: 5px 20px;
	}
	.nav__link:after{
		width:50%;
		left:25%;
	}
	.gallery__item{
		width:40%;
		font-size:1.2em;
	}
	.gallery__red{
		width:50%;
	}
	.price{
		flex-wrap: wrap;
	}
	.price__header{
		line-height:1.1;
		font-size:2em;
	}
	.price__title{
		margin-bottom: 20px;
	}
	.price__item{
		width:80%;
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	.price__text{
		line-height: 0.8;
		font-size: 1.3em;
	}
	.news{
		flex-wrap:wrap;
	}
	.news__item{
		width:100%;
	}
	.news-item{
		width:100%;
		padding: 0 25px;
		margin-bottom: 20px;
	}
	.news-item__title{
		font-size:1.8em;
	}
	.news__item_last{
		display: none;
	}
	.button_display_none{
		display: block;
	}
	.blog{
		padding: 0 40px;
	}
	.form__info{
		flex-wrap: wrap;
	}
	.form__item{
		width:100%;
	}
	.map{
		height:400px;
	}
	.map iframe{
		height:400px;
	}
	.form-group__info{
		flex-direction:column;
	} 
	.form-group__item{
		width:100%;
	}
	.form__text{
		font-size:1.7em;
	}
	.footer__logo{
		font-size: 35px;
	}
	.footer{
		flex-direction:column;
	}
	.footer__rights{
		margin:20px 0;
		font-size: 1.2em;
	}
	.footer__logo{
		width:100%;
	}
	.footer__contacts{
		width:100%;
	}
}
@media screen and (max-width: 550px){
	.section{
		padding: 25px 0;
	}
	.subtitle{
		font-size:16px;
		line-height:1.2;
	}
	.header__inner{
		padding: 20px 5px;
	}
	.header__logo{
		font-size: 30px;
	}
	.header__logo.size{
		font-size: 75px;
	}
	.intro__title{
		font-size: 7em;
	}
	.intro__subtitle{
		font-size:2em;
	}
	.services__item{
		width:85%;
		padding: 15px;
	}
	.team__item{
		width:100%;
		margin-bottom: 10px;
	}
	.team__img{
		max-width:250px;
		margin: 0 auto;
	}
	.team__links:after{
		opacity:1;
		width:70%;
		margin:0 auto;
	}
	.team__prof{
		font-size: 2em;
	}
	.team__info{
		text-align: center;
	}
	.line, .line:after{
		display: none;
	}
	.team__icon{
		opacity:1;
		margin-top:5px;
	}
	.skills__title{
		margin: 20px 0;
		font-size: 200%;
	}
	.skills__scale{
		display: none;
	}
	.skills__percent{
		color:red;
	}
	.gallery__red{
		width:50%;
	}
	.price{
		flex-wrap: wrap;
	}
	.price__item{
		width:90%;
		margin-bottom: 20px;
	}
	.price__info{
		line-height:1.4;
	}
	.price__icon{
		display: none;
	}
	.news__title{
		text-align: center;
		padding:30px 0 0;
		font-size: 2em;
		margin:0;
	}
	.news__latest{
		padding: 10px 30px;
		margin-top:5px;	
	}
	.news-item__title{
		font-size:18px;
	}
	.map__text{
		font-size: 120%;
	}

}